.formSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitButton {
    margin-top: 20px;
    padding: 20px;
    background-color: royalblue;
    color: white;
    border-radius: 15px;
}

.signupElement {
    width: 300px;
    margin: 5px
}